
<!-- ithe kay karto aahe tuu?? -->
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/images/Kaamdhenu.png" alt="Kaamdhenu Logo" width="50" height="50" class="me-2">
        <span class="fw-bold fs-4">Kaamdhenu</span>
      </a>

      <!-- Navbar toggler for mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/landingPage"><i class="fas fa-info-circle me-1"></i>Gau-Gyan</a>
            </li>          
            <li class="nav-item mx-2">
                <a class="nav-link" href="/home/marketplace"><i class="fas fa-store me-1"></i>Marketplace</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/home/breeding"><i class="fas fa-heart me-1"></i> Breeding Programs</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/home/profile"><i class="fas fa-user me-1"></i> Profile</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
